*{
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:black;
    cursor: none;
}
.navbar{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}
.box{
    background-color: black;
    width: 70px;
    height: 70px;
    cursor:none;
    border-radius: 10px;
}
.box:hover{
    background-color: chartreuse;
    transition: 0.2ms ease-in 0s ease-out 0.9s;
}
.wrapper{
    cursor: default;
    width: 440px;
    background-color: transparent;
    border: 2px solid ;
    backdrop-filter: blur(8px);
    color:chartreuse;
    border-radius: 0px;
    padding: 30px 40px ;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:white;
    position: relative;
    padding-left: 4%;
}
.input-box input::placeholder{
    color:chartreuse;
    
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    color: white;
    margin-right: 3px;
}
.remember-forgot a{
    color:chartreuse;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .lgn{
    width: 100%;
    height: 45px;
    background-color: chartreuse;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register a{
    color:chartreuse;
    text-decoration: none;
    font-weight: 600;
}
.register a:hover{
    text-decoration: underline;
}

